/* Estilos Generales del Html  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header{
    background: #2421b8;
    height: 110px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    width: 110px;
    height: 110px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 110px;
}
.logo img{
    width: 110px;
    height: 110px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    line-height: 110px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 10px 15px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #034574;
    transition: .5s;
}
.nav-toggle{
    color: #fff;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}


@media (max-width: 768px){
    body{
        padding-top: 70px;

    }
    .header{
        height: 80px;
    }
    .logo{
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    .logo img{
        width: 80px;
        height: 80px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        padding: 0;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 80px;
        width: 40%;
        height: calc(100% - 80px);
        overflow-y: auto;

        left: -100%;
        transition:  0.3s;
    }
    .nav-menu-item{

        width: 100%;
        text-align: center;
        line-height: rigth 70px;
        font-size: 15px;
        padding: 0;

    }
    .nav-menu-link{
        padding: 10px 15px;
        border-radius: 3px;
        margin: 0;
    }
    .nav-menu-link:hover{
        background: none;
        color: #83c5f7;
        transition: .5s;
    }
    .nav-toggle{
        display: block;
        line-height: 80px;
    }
    .nav-menu_active{
        left: 0;
    }


}
.footer{
    background-color: #2421b8;
    height: 120px;
    width: 100%;
    margin-top: 0;
}
.footer p{
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer, .marca-logo {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;

}

h1{
    text-align: center;
    font-size: 40px;
    padding: 15px 15px 35px 5px;
}


/*este es el css de los section */
.section{
    background-color: #8092d2;
    width: 100%;
    height: auto;
    margin: 0;
    color: wheat;
}

.secciones{
    width: 100%;
    text-align: center;
}



.secciones, h1{
    font-size: 30px;
    color: white;
}
.secciones, h2{
    font-size: 28px;
    color: white;
}
.consulta, .contenido-imagen{
    margin: 20px auto 0 auto;
    color: white;
}
/* Estilos al formulario de la consulta del Soat*/

.formulario{
    width: 90%;
    margin: 10px auto;
    padding: 0;

}
.form-campo, input{
    width: 100%;
    margin: 2px auto;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #8092d2;
    border-color: #8092d2;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #000;
}
.input{
    background-color: rgb(247, 247, 241);
}


.boton{
    background-color: #2421b8;
    text-transform: uppercase;
    color: white;
    padding: 30px auto;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    width: 50%;
}

.boton:hover{
    background-color: #1b1a57;
    transition: .5s;
}
/* Este es para cuando abrimos la aplicacion en pantalla pequeñas   */

@media(min-width: 768px){
    .footer{
        height: 200px;
    }
    .footer p{
        font-size: 20px;
    }

    .footer, .marca-logo {
        font-size: 25px;
        padding: 10px 0;

    }

    h1{
        text-align: center;
        font-size: 30px;
        padding: 25px 10px 15px 10px;
    }


}
/*Media query para los main cuando las pantallas mayores 768px  */

@media (min-width: 768px){
    .section{
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 110px;
    }

    .secciones{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }



    .secciones, h1{
        font-size: 30px;
        color: white;
    }
    .secciones, h2{
        font-size: 28px;
        color: white;
    }
    .consulta, .contenido-imagen{
        margin: 10px 10px;
        color: white;
    }
    /* Estilos al formulario de la consulta del Soat*/

    .formulario{
        width: 100%;
        margin: auto;
        padding: 0;

    }
    .imagen{
        margin-top: 45px;
        width: 100%;
        height: 100%;
    }
    .form-campo, input{
        width: 80%;
        margin: 0 auto;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid #8092d2;
        border-color: #8092d2;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        color: #000;
    }
}

/*este es el estilo para el error que hemos */

.error{
    background: red;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
     border-radius: 10px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
  }
  .exito{
    background: green;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
     border-radius: 10px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
  }

  /*ESte es los estilos para crear un boton nuevo  */

  .botonNuevo{
    background-color: red;
    font-size: 25px;
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border: 5px black solid;
    border-radius: 20px;
  }
  body, html{
    background-color: #8092d2;
}
.registrarse-contenido{
    margin: 0 auto;
    width: 90%;
}
.titulo-registrase{
    font-size: 28px;
    font-weight: 400;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    text-transform: uppercase;

}
.inform-registrate{
    font-size: 22px;
    color: white;
    font-weight: 400;
    text-align: center;
}
.no-registrado, li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;

}
.formulario{
    width: 90%;
    margin: 5px auto;
    padding: 0;

}
.form-campo, input{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #8092d2;
    border-color: #8092d2;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #000;
}
.input{
    background-color: rgb(247, 247, 241);
}


.boton-registrarse{
    width: 80%;
    background-color: #2421b8;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.boton-registrarse:hover{
    background-color: rgb(24, 24, 230);
}

@media (min-width: 650px){
    body, html{
        margin-top: 20px;
    }
    .registrarse-contenido{
        margin: 0 auto;
        width: 80%;
    }
    .formulario{
        width: 50%;
        margin: 5px auto;
        padding: 0;

    }
    .boton-registrarse{
        width: 50%;
        background-color: #2421b8;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
}
.no-decorado{
    text-decoration: none;
    font-size: 18px;
}
.contenido{
    width: 996px;
    margin: 0 auto;
}
.label{
    color: #ddd;
    font-size: 18px;
    margin: 0 10px;
    padding: 5px;
}
.table {
    width: 90%;
    border-collapse: collapse;
    margin: 5px auto 30px auto;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #ddd;
}

.btn {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 350px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.card p {
    color: #555;
    margin: 0 0 10px;
}

.card-actions {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}
.teacher-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.teacher-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.teacher-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.teacher-card img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.teacher-card .card-body {
    padding: 20px;
}

.teacher-card .card-text {
    margin: 10px 0;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.btn-warning {
    background-color: #ffc107;
    color: #fff;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #fff;
}


textarea {
    width: 100%;
    max-width: 600px;  /* Ajusta el tamaño máximo del textarea */
    height: 150px;     /* Ajusta la altura del textarea */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    resize: vertical;  /* Permite el redimensionamiento vertical */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
    background-color: #fff;
}

/** Ventana Modal **/

.modal-personalizado {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cerrar-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cerrar-btn:hover,
.cerrar-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.imagen-modal {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.info-modal {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.modal-cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-cuerpo button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
}
